out
wiki
client/out/**
client/dist/**
sharedapi/out/**
server/out/**
server/dist/**
node_modules
client/server
client/node_modules
server/node_modules
.vscode-test/
*.vsix
tmp
*.tsbuildinfo
package-lock.json
bookmarks.json
client/pnpm-lock.yaml
pnpm-lock.yaml
