out
wiki
client/out/**
client/dist/**
sharedapi/out/**
server/out/**
server/dist/**
node_modules
client/server
client/node_modules
server/node_modules
.vscode-test/
*.vsix
tmp
*.tsbuildinfo
bookmarks.json
*.cpuprofile
