.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**

.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
tmp/**
**/tmp/**
server/**
!server/dist/server.js
client/dist/*.map
client/node_modules/**
client/out/**
client/package.json
client/package-lock.json
client/src/**
client/tsconfig.json
client/tsconfig.tsbuildinfo
client/webpack.config.js
client/.vscodeignore
sharedapi/**
wiki/**
*.workspace
modules
**/*.map
.github
.vscode
jest.config.js
abap remote fs.code-workspace
*.cpuprofile